*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #181818;
}

//button
.return{
    position: fixed;
    padding: 3rem;
    
        i{
            font-size: 30px;
            color: #c5c5c5;
        }
}

//intro
.timeline {
    position: relative;
    margin: 50px auto;
    padding: 40px;
    width: 1000px;
    box-sizing: border-box;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 2px;
        height: 230rem;
        background-color: #c5c5c5;
    }
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 2px;
        height: 230rem;
        background-color: #c5c5c5;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 60px 0;
            list-style: none;
            line-height: normal;
            position: relative;
            width: 50%;
            padding: 20px 100px;
            box-sizing: border-box;

            &:nth-child(odd) {
                float: left;
                text-align: right;
                clear: both;
            }
            &:nth-child(even) {
                float: right;
                text-align: left;
                clear: both;

                .time {
                    position: absolute;
                    top: 12px;
                    left: -165px;
                    margin: 0;
                    padding: 8px 16px;
                    background: #B88B61;
                    color: #fff;
                    border-radius: 18px;
                    box-shadow: 0 0 0 3px #fccf95bb;
                }
            }
            &:nth-child(odd)::before {
                content: '';
                position: absolute;
                top: 24px;
                right: -6px;
                width: 10px;
                height: 10px;
                background: #B88B61;
                border-radius: 50%;
                box-shadow: 0 0 0 3px #fccf95bb;

            }
            &:nth-child(even)::before {
                content: '';
                position: absolute;
                top: 24px;
                left: -4px;
                width: 10px;
                height: 10px;
                background: #B88B61;
                border-radius: 50%;
                box-shadow: 0 0 0 3px #fccf95bb;

            }
            .container{
                display: flex;

                h3 {
                    margin: 0;
                    padding: 0;
                    font-weight: 600;
                    color: #B88B61;
                    font-size: 25px;
                }
                p {
                    margin: 10px 0 0;
                    padding: 0;
                    color: #c5c5c5;
                    font-size: 20px;
                }
                .image{
                    padding-right: 2rem;

                    img{
                        width: 100%;
                    }
                }
            }
            
            .time {
                h4 {
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    color: #47341cce;
                    background-color: #B88B61;
                }
            }
            &:nth-child(odd) {
                .time {
                    position: absolute;
                    top: 12px;
                    right: -165px;
                    margin: 0;
                    padding: 8px 16px;
                    background: #B88B61;
                    color: #fff;
                    border-radius: 18px;
                    box-shadow: 0 0 0 3px #fccf95bb;
                }
            }
            &:nth-child(even) {
                .time {
                    position: absolute;
                    top: 12px;
                    left: -165px;
                    margin: 0;
                    padding: 8px 16px;
                    background: #B88B61;
                    color: #fff;
                    border-radius: 18px;
                    box-shadow: 0 0 0 3px #fccf95bb;
                }
            }

            .subtime {
                h4 {
                    margin: 0;
                    padding: 0;
                    font-size: 18px;
                    color: #e6ccab;
                }
                p{
                    padding-left: 1rem;
                    font-size: 17px;
                }
            }
            &:nth-child(odd) {
                .time {
                    position: absolute;
                    top: 12px;
                    right: -165px;
                    margin: 0;
                    padding: 8px 16px;
                    background: #B88B61;
                    color: #fff;
                    border-radius: 18px;
                    box-shadow: 0 0 0 3px #fccf95bb;
                }
            }
            &:nth-child(even) {
                .time {
                    position: absolute;
                    top: 12px;
                    left: -165px;
                    margin: 0;
                    padding: 8px 16px;
                    background: #B88B61;
                    color: #fff;
                    border-radius: 18px;
                    box-shadow: 0 0 0 3px #fccf95bb;
                }
            }
        }
    }
}

// Fossilzed
.title{
    padding: 3rem;
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
        color: #ccb639;
        font-size: 46px;
        padding: 1rem;
    }

    p{
        color: #c5c5c5;
        font-size: 20px;
    }
}

.card{
    width: 60%;
    border-top: solid 0.1rem #B88B61;
    padding: 2.5rem;
    margin-left: 20%;

    h1{
        color: #c5c5c5;
        padding-bottom: 1rem;
    }

    p{
        color: #c5c5c5;
        font-size: 18px;
    }
}